<ion-view view-title="ayuda venta">
    <ion-content>
    
    
    <div class="padding" ng-controller="IndexCtrl">
        <div class="list card">

  <div class="item item-avatar">
    <img src="img/iconori.png">
    <h2>Ayudaventa</h2>
    <p>{{date | date:'yyyy-MM-dd'}}</p>
  </div>

  <div class="item item-body border-image">
    <img class="full-image" src="img/venta.gif">
    <p style="text-align : justify;">
      A un paso de incrementar tus ventas. Atrae a más clientes potenciales con ayuda venta.Tenemos una red de empresas y negocios dispuestos a comprar tus productos y servicios.¡Qué esperas para crear tu campaña!
    </p>
   
  </div>
   <p class="text-center">
      <button ui-sref="app.crear" class="button color-header">crear campaña</button>
    </p>
    <br>

</div>
   
    </div>
    
    </ion-content>
</ion-view>
